@model PostawNaMilionAzure.ViewModel.GameViewModel
@{
    int i = 1;
}
<div class="game-photo row">
    <div class="col">
        <div class="row">
            <div class="col-sm-8 ">
                <div class="svg-timer">

                </div>
            </div>
            <div class="col-sm-4 game-sum">
                <div>
                    <span id="game-sum-value" data-sum="@Model.SumValue"></span> zł
                    @*<div id="game-sum-value" data-sum="@Model.SumValue"></div>*@

                </div>
            </div>

        </div>
    </div>
</div>

@if (!Model.IsCategory)
{
    <div class="row game-question" id="test-return" data-id="@((int)Model.TypeResultGame)">
        <div class="game-question-text">
            <h4>Pytanie nr @Model.NumberQuestion</h4>
            @if (Model.Question != null)
            {
                @Model.Question.Contents
            }
        </div>
    </div>
    if (Model.Question != null)
    {
        <div class="row game-answer" id="game-question" data-id="@Model.Question.Id">
            @foreach (var answer in Model.Question.Answer)
            {
                <div class="col-md-6 col-xs-12">
                    <p>@answer.Contents</p>
                    <div id="input_container">
                        <input type="number" class="form-control quantity-answer" readonly id="input-@i" data-id="@answer.Id" step="25000" min="0" value="0">
                        <i class="material-icons" id="input_all" data-id="@i">done</i>
                        <i class="material-icons" id="input_clear" data-id="@i">cancel</i>
                        <i class="material-icons" id="input_plus" data-id="@i">add_circle</i>
                        <i class="material-icons" id="input_minus" data-id="@i">remove_circle</i>
                    </div>
                </div>
                i++;
            }


        </div>

        <div class="text-center"><input type="submit" value="Sprawdź" id="send-answers" /></div>

    }
}

else
{


    <div class="row">
        @foreach (var category in Model.CategoryDict)
        {
            <div class="col-md-6 text-center ">
                <input type="submit" value="@category.Description" id="choice-category" data-id="@category.Id" class="btn btn-category"/>
            </div>
        }
    </div>

}





