@model PostawNaMilionAzure.ViewModel.GameViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="~/Content/svgTimer.css" rel="stylesheet" />
}
@*
    http://localhost:25635/Game/Game
*@

<div class="container" id="game-partial" data-step-value>
    @Html.Partial("_Question")
</div>

@section scripts{
    <script src="~/Scripts/svgTimer.js"></script>
    <script src="~/Scripts/jquery.mousewheel-3.0.6.pack.js"></script>
    <script src="~/Scripts/Game.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            checkTimer();
        });

        $(document).delegate('#choice-category', 'click', function (e) {
            e.preventDefault();
            idCategory = $(this).attr("data-id");
            $.ajax({
                type: "post",
                url: "@Url.Action("GetQuestion", "Game")",
                ajaxsync: true,
                data: { categoryID: idCategory },
            })
            .done(function (partialVIew) {
                $("#game-partial").html(partialVIew);
                loadSumValue();
            });
        });

        $(document).delegate('#send-answers', 'click', function (e) {

            e.preventDefault();
            sendAnswer();
        });

        function sendAnswer() {
            dict = new Object();

            dict[parseInt($("#input-1").attr("data-id"))] = $("#input-1").val();
            dict[parseInt($("#input-2").attr("data-id"))] = $("#input-2").val();
            dict[parseInt($("#input-3").attr("data-id"))] = $("#input-3").val();
            dict[parseInt($("#input-4").attr("data-id"))] = $("#input-4").val();

            idQuestion = $("#game-question").attr("data-id");
            $.ajax({
                type: "post",
                url: "@Url.Action("SendAnswer", "Game")",
                ajaxsync: true,
                data: { questionID: idQuestion, answers: dict },
            }).done(function (partialVIew) {
                if (partialVIew == 0) {
                    $.ajax({
                        type: "post",
                        url: "@Url.Action("GetCategory", "Game")",
                        ajaxsync: true,
                    })
                    .done(function (partialVIew2) {
                        $("#game-partial").html(partialVIew2);


                    });
                    showFancyBox();
                }
                else {
                    location.href = '@Url.Action("CheckResult","Game")?result=' + partialVIew;
                }

            });
        };



       

        function loadSumValue() {
            stepValue = @Model.StepTotalValue;
            $('#game-sum-value').text($('#game-sum-value').attr("data-sum"));
            changeInpiutText();
            addAllWithSum();
            clearAllValueWithSum();
            plusValueWithSum();
            minusValueWithSum();
            timer();
        }

    </script>
}
