@model PostawNaMilionAzure.ViewModel.GameViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="~/Content/svgTimer.css" rel="stylesheet" />
}
@*
    http://localhost:25635/Game/Game
*@

<div class="container" id="game-partial">
    @Html.Partial("_Question")

</div>




@*<div id="fancybox" style="width:400px;height:200px">
        <div class="row">
            @foreach (var category in Model.CategoryDict)
                {
            <div class="col-md-6">
                <input type="submit" value="@category.Description" id="choice-category" data-id="@category.Id" />
            </div>
            }
        </div>
        <div class="row">
            <div class="col-lg-12">
                <input type="submit" value="Zakończ grę" class="btn btn-danger" />

            </div>

        </div>

    </div>*@



@section scripts{
    <script src="~/Scripts/svgTimer.js"></script>
    <link href="~/Content/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/Content/jquery.fancybox-buttons.css" rel="stylesheet" />
    <link href="~/Content/jquery.fancybox-thumbs.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.mousewheel-3.0.6.pack.js"></script>
    <script src="~/Scripts/jquery.fancybox.pack.js"></script>
    <script src="~/Scripts/Game.js"></script>





    <script type="text/javascript">
        $(document).ready(function () {
            showFancyBox();
        });

        $(document).delegate('#choice-category', 'click', function (e) {
            e.preventDefault();
            idCategory = $(this).attr("data-id");
            $.ajax({
                type: "post",
                url: "@Url.Action("GetQuestion", "Game")",
                ajaxsync: true,
                data: { categoryID: idCategory },
            })
            .done(function (partialVIew) {
                $("#game-partial").html(partialVIew);
                parent.jQuery.fancybox.close();
                loadSumValue();
            });
        });

        $(document).delegate('#send-answers', 'click', function (e) {

            e.preventDefault();
            dict = new Object();
            dict[parseInt($("#input-1").attr("data-id"))] = $("#input-1").val();
            dict[parseInt($("#input-2").attr("data-id"))] = $("#input-2").val();
            dict[parseInt($("#input-3").attr("data-id"))] = $("#input-3").val();
            dict[parseInt($("#input-4").attr("data-id"))] = $("#input-4").val();

            idQuestion = $("#game-question").attr("data-id");
            $.ajax({
                type: "post",
                url: "@Url.Action("SendAnswer", "Game")",
                ajaxsync: true,
                data: { questionID: idQuestion, answers: dict },
            })
           .done(function (partialVIew) {
               if (partialVIew == 0) {
                   $.ajax({
                       type: "post",
                       url: "@Url.Action("GetCategory", "Game")",
                       ajaxsync: true,
                   })
               .done(function (partialVIew) {
                   $("#game-partial").html(partialVIew);


               });
                   showFancyBox();
               }
               else {
                   location.href = '@Url.Action("CheckResult","Game")?result=' + patrialVIew;
               }

           });
        });

        function showFancyBox() {

            $("#fancybox").fancybox({
                closeBtn: false, // hide close button
                closeClick: false, // prevents closing when clicking INSIDE fancybox

                helpers: {
                    // prevents closing when clicking OUTSIDE fancybox
                    overlay: { closeClick: false }
                },
                keys: {
                    // prevents closing when press ESC button
                    close: null
                }
            }).trigger('click');

        }

    </script>
}
