@model PostawNaMilionAzure.ViewModel.QuestionViewModel


@using (Html.BeginForm(Model.ActionName, "AdminManageQuestion"))
{
    if (Model.Question != null)
    {
        @Html.HiddenFor(model => model.Question.Id)
    }
    @Html.AntiForgeryToken()
    <div class="row">
        @Html.ValidationSummary()
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Question.Contents)
        @Html.TextBoxFor(x => x.Question.Contents, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Question.CategoryDictId)
        @Html.DropDownListFor(x => x.Question.CategoryDictId,
                         new SelectList(Model.CategoryListDropDownList, "Id", "Name",
                                         Model.CategoryListDropDownList.First().Id),
                         new { @class = "dropdown form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Question.Level)
        @Html.DropDownListFor(x => x.Question.Level,
                         new SelectList(Model.LevelDropDownList, "ID", "ID",
                                         Model.LevelDropDownList.First().ID),
                         new { @class = "dropdown form-control" })
    </div>

    for (int i = 0; i < 4; i++)
    {
        if (Model.Question != null)
        {
            @Html.HiddenFor(model => model.AnswerList[i].Id)
            @Html.HiddenFor(model => model.AnswerList[i].QuestionId)
        }
        <div class="row">
            <div class="col-lg-3 form-group label">
                @Html.LabelFor(x => x.AnswerList[i].Contents)
                @Html.TextBoxFor(x => x.AnswerList[i].Contents)
            </div>
            <div class="col-lg-3 form-group radio-button">
                @Html.RadioButtonFor(x => x.isCorrectNumber, i,
                  Model.AnswerList[i].IsCorrect ? new { @checked = "true" } : null )


            </div>


        </div>
    }


    <input type="submit" class="btn btn-default" />
}
