@model List<PostawNaMilionAzure.Models.CategoryDict>

<div class="row">
    @if (ViewBag.CategoryDictCount == 0)
    {
       @: Brak danych
                            }
    else
    {
        <table class="table table-condensed">
            <tr>
                <td>@Html.DisplayNameFor(x => x.FirstOrDefault().Name)</td>
                <td>@Html.DisplayNameFor(x => x.FirstOrDefault().Description)</td>
                <td></td>
            </tr>
            @foreach (var category in Model)
            {

                <tr>
                    <td>
                        @category.Name
                    </td>
                    <td>
                        @category.Description
                    </td>
                    <td>
                        <button class="btn btn-default btn-edit" data-target="@category.Id" >Edytuj</button>
                    </td>
                </tr>
            }
        </table>
    }


</div>
