@{
    ViewBag.Title = "Administracja";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-2 col-sm-12">
            <ul class="nav navbar-btn nav-admin-manage">
                <li>@Html.ActionLink("Informacje", "Category", "AdminManageCategory")</li>
                <li>@Html.ActionLink("Kategorie", "Category", "AdminManageCategory")</li>
                <li>@Html.ActionLink("Dodaj Kategorie", "AddCategory", "AdminManageCategory")</li>
                <li>@Html.ActionLink("Dodaj Pytanie", "AddQuestion", "AdminManageQuestion")</li>
                <li>@Html.ActionLink("Użytkownicy", "Index", "AdminManageUser")</li>
                <li>@Html.ActionLink("Jednostka obstawiania", "SetStepTotalValue", "AdminManage")</li>
                <li><a href="@Url.Content("~/elmah")">Logi</a></li>

            </ul>
        </div>
        <div class="col-md-10 col-sm-12">
            @RenderBody()

        </div>
    </div>
</div>

@section scripts{
    @RenderSection("scripts", required: false)
    }
